<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rose Bud Thorn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/rosebt.css" rel="stylesheet">
  </head>
 
  <body>
    <!--HEADER BEGIN-->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" style="color:white;">Rose Bud Thorn</a>
    </nav>
    <!--HEADER END-->



    <!--CONTENT BEGIN-->
      <div class="container">
        <!--USER PROFILE BEGIN-->
        <div class="centerbox">
          <img class="profile-userphoto" src={{rbt.[0].photo_user}}>
          <div class="profile-username">
            <p>{{rbt.[0].firstname}}<br />{{rbt.[0].lastname}}</p>
          </div>
        </div>
        <!--USER PROFILE END-->

        <form name="input" action="profile" method="post" onsubmit="return validateForm()">
          <div class="well well-sm">
            <center><h4>Update Status</h4></center>
            <div class="container">
              <table class="feed-table" id="table1">
                <tbody>
                  <tr>
                    <td class="feed-table-left"><img class="feed-rbt-icon" src="/images/Rose.png"/>
                      <p class="feed-rbt-caption">Rose</p></td>
                    <td class="feed-table-right">
                      <textarea name="rose" maxlength="199" class="form-control" style="margin: 0px; height: 80px; width: 215px;"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td class="feed-table-left"><img class="feed-rbt-icon" src="/images/Bud.png">
                      <p class="feed-rbt-caption">Bud</p></td>
                    <td class="feed-table-right">
                      <textarea name="bud" maxlength="199" class="form-control" style="margin: 0px; height: 80px; width: 215px;"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td class="feed-table-left"><img class="feed-rbt-icon" src="/images/Thorn.png">
                      <p class="feed-rbt-caption">Thorn</p></td>
                    <td class="feed-table-right">
                      <textarea name="thorn" maxlength="199" class="form-control" style="margin: 0px; height: 80px; width: 215px;"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td class="feed-table-left">
                      <p class="feed-rbt-caption">Photo Upload (Optional)</p></td>
                    <td class="feed-table-right">
                      <div id="spin"></div>
                      <input type="file" accept="image/*" capture="camera" id="file-upload">
                      <img class="pano" id="pano" />
                      <textarea id="photo" name="photo" maxlength="199" class="form-control" style="display: none;"></textarea>
                    </td>
                  </tr>
                  <a href="#" onClick="return toggle('photo-type')")>SHOW ROW</a>
                  <tr id="photo-type">
                    <td class="feed-table-left">
                      <p class="feed-rbt-caption">What kind of photo are you sharing?</p></td>
                    <td class="feed-table-right">
                      <!--Nicer UI; can implement later
                      <div class="btn-group btn-group-xs"><button type="button" class="btn btn-default">Rose</button></div>
                      <div class="btn-group btn-group-xs"><button type="button" class="btn btn-default">Bud</button></div>
                      <div class="btn-group btn-group-xs"><button type="button" class="btn btn-default">Thorn</button></div>
                      <div class="btn-group btn-group-xs"><button type="button" class="btn btn-default">No Photo</button></div>-->
                      <label class="checkbox-inline">
                        <input name="photo_tag" type="radio" id="tag_rose" value="rose"><img class="form-rbt-icon" src="/images/Rose.png"/><p class="feed-rbt-caption">Rose</p>
                      </label>
                      <label class="radio-inline">
                        <input name="photo_tag" type="radio" id="tag_bud" value="bud"><img class="form-rbt-icon" src="/images/Bud.png"/><p class="feed-rbt-caption">Bud</p>
                      </label>
                      <label class="radio-inline">
                        <input name="photo_tag" type="radio" id="tag_thorn" value="thorn"><img class="form-rbt-icon" src="/images/Thorn.png"/><p class="feed-rbt-caption">Thorn</p>
                      </label>
                      <label class="radio-inline">
                        <input name="photo_tag" type="radio" id="tag_none" value="" checked><!--No Photo-->
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <center>
                <input type="submit" value="Submit">
              </center>
            </div>
          </div>
        </form>

    </div>
    <!--CONTENT END-->


    <!--FOOTER BEGIN-->
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <table class="bottomnav1">
            <tr>
              <td class="bottomnav2"><a class="bottomnav3" href="/">Friends</a></td>
              <td class="bottomnav2 active"><a class="bottomnav3" href="/profile">Me</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--FOOTER END-->
    <!--JAVASCRIPT BEGIN-->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
    <script type="text/javascript" src="/js/sha256.js"></script>
    <script type="text/javascript" src="/js/fbRetrive.js"></script>
    <script type="text/javascript" src="/js/firepano.js"></script>
    <!--JAVASCRIPT END-->
  </body>
</html>