body {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar-brand {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.bottomnav1 {
	width: 100%;
}

.bottomnav2 {
	padding: 15px;
	text-align: center;
	width: 50%;
}

.bottomnav3 {
	font-variant: small-caps;
	color: white;
}

.active {
	color: #fff;
	background-color: #080808;
}